<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azanapitime">

<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/azan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/azan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="True.Azan.Time.TrueAzanTime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>